.f32 .flag{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px;background:url(/assets/images/flags/flags32.png) no-repeat;}
.f32 .Andorra{background-position:0 -704px;}
.f32 .UnitedArabEmirates{background-position:0 -736px;}
.f32 .Afghanistan{background-position:0 -768px;}
.f32 .Antigua and Barbuda{background-position:0 -800px;}
.f32 .Anguilla{background-position:0 -832px;}
.f32 .Albania{background-position:0 -864px;}
.f32 .Armenia{background-position:0 -896px;}
.f32 .Angola{background-position:0 -928px;}
.f32 .Antarctica{background-position:0 -960px;}
.f32 .Argentina{background-position:0 -992px;}
.f32 .American Samoa{background-position:0 -1024px;}
.f32 .Austria{background-position:0 -1056px;}
.f32 .Australia{background-position:0 -1088px;}
.f32 .Aruba{background-position:0 -1120px;}
.f32 .Aland.Islands{background-position:0 -1152px;}
.f32 .Azerbaijan{background-position:0 -1184px;}
.f32 .Bosnia.and.Herzegovina{background-position:0 -1216px;}
.f32 .Barbados{background-position:0 -1248px;}
.f32 .Bangladesh{background-position:0 -1280px;}
.f32 .Belgium{background-position:0 -1312px;}
.f32 .Burkina.Faso{background-position:0 -1344px;}
.f32 .Bulgaria{background-position:0 -1376px;}
.f32 .Bahrain{background-position:0 -1408px;}
.f32 .Burundi{background-position:0 -1440px;}
.f32 .Benin{background-position:0 -1472px;}
.f32 .bermuda{background-position:0 -1504px;}
.f32 .Brunei.Darussalam{background-position:0 -1536px;}
.f32 .Bolivia{background-position:0 -1568px;}
.f32 .Brazil{background-position:0 -1600px;}
.f32 .Bahamas{background-position:0 -1632px;}
.f32 .Bhutan{background-position:0 -1664px;}
.f32 .Botswana{background-position:0 -1696px;}
.f32 .Belarus{background-position:0 -1728px;}
.f32 .Belize{background-position:0 -1760px;}
.f32 .Canada{background-position:0 -1792px;}
.f32 .Congo.the.Democratic.Republic.of.the{background-position:0 -1824px;}
.f32 .Central.African.Republic{background-position:0 -1856px;}
.f32 .Congo{background-position:0 -1888px;}
.f32 .Switzerland{background-position:0 -1920px;}
.f32 .Cook.Island{background-position:0 -1984px;}
.f32 .Chile{background-position:0 -2016px;}
.f32 .Cameroon{background-position:0 -2048px;}
.f32 .China{background-position:0 -2080px;}
.f32 .Colombia{background-position:0 -2112px;}
.f32 .Costa.Rica{background-position:0 -2144px;}
.f32 .Cuba{background-position:0 -2176px;}
.f32 .Cabo.Verde{background-position:0 -2208px;}
.f32 .Cyprus{background-position:0 -2240px;}
.f32 .Czechia{background-position:0 -2272px;}
.f32 .Germany{background-position:0 -2304px;}
.f32 .Djibouti{background-position:0 -2336px;}
.f32 .Denmark{background-position:0 -2368px;}
.f32 .Dominica{background-position:0 -2400px;}
.f32 .Dominican.Republic{background-position:0 -2432px;}
.f32 .Algeria{background-position:0 -2464px;}
.f32 .Ecuador{background-position:0 -2496px;}
.f32 .Estonia{background-position:0 -2528px;}
.f32 .Egypt{background-position:0 -2560px;}
.f32 .Western.Sahara{background-position:0 -2592px;}
.f32 .Eritrea{background-position:0 -2624px;}
.f32 .Spain{background-position:0 -2656px;}
.f32 .Ethiopia{background-position:0 -2688px;}
.f32 .Finland{background-position:0 -2720px;}
.f32 .Fiji{background-position:0 -2752px;}
.f32 .Faroe.Island{background-position:0 -2816px;}
.f32 .France{background-position:0 -2848px;}  .f32 .bl, .f32 .cp, .f32 .mf, .f32 .yt{background-position:0 -2848px;}
.f32 .Gabon{background-position:0 -2880px;}
.f32 .United.Kingdom.of.Great.Britain.and.Northern.Ireland{background-position:0 -2912px;}  .f32 .sh{background-position:0 -2912px;}
.f32 .Grenada{background-position:0 -2944px;}
.f32 .Georgia{background-position:0 -2976px;}
.f32 .Guernsey{background-position:0 -3008px;}
.f32 .Ghana{background-position:0 -3040px;}
.f32 .Gibraltar{background-position:0 -3072px;}
.f32 .Greenland{background-position:0 -3104px;}
.f32 .Gambia{background-position:0 -3136px;}
.f32 .Guinea{background-position:0 -3168px;}
.f32 .Guadeloupe{background-position:0 -3200px;}
.f32 .Equatorial.Guinea{background-position:0 -3232px;}
.f32 .Greece{background-position:0 -3264px;}
.f32 .Guatemala{background-position:0 -3296px;}
.f32 .Guam{background-position:0 -3328px;}
.f32 .Guyana{background-position:0 -3392px;}
.f32 .Hong.Kong{background-position:0 -3424px;}
.f32 .Honduras{background-position:0 -3456px;}
.f32 .Croatia{background-position:0 -3488px;}
.f32 .Haiti{background-position:0 -3520px;}
.f32 .Hungary{background-position:0 -3552px;}
.f32 .Indonesia{background-position:0 -3584px;}
.f32 .Monaco{background-position:0 -3584px;}
.f32 .Ireland{background-position:0 -3616px;}
.f32 .Israel{background-position:0 -3648px;}
.f32 .Isle.of.Man{background-position:0 -3680px;}
.f32 .India{background-position:0 -3712px;}
.f32 .Iraq{background-position:0 -3744px;}
.f32 .Iran{background-position:0 -3776px;}
.f32 .Iceland{background-position:0 -3808px;}
.f32 .Italy{background-position:0 -3840px;}
.f32 .Jersey{background-position:0 -3872px;}
.f32 .Jamaica{background-position:0 -3904px;}
.f32 .Jordan{background-position:0 -3936px;}
.f32 .Japan{background-position:0 -3968px;}
.f32 .Kenya{background-position:0 -4000px;}
.f32 .Kyrgyzstan{background-position:0 -4032px;}
.f32 .Cambodia{background-position:0 -4064px;}
.f32 .Kiribati{background-position:0 -4096px;}
.f32 .Comoros{background-position:0 -4128px;}
.f32 .Saint.Kitts.and.Nevis{background-position:0 -4160px;}
.f32 .North.Korea{background-position:0 -4192px;}
.f32 .South.Korea{background-position:0 -4224px;}
.f32 .Kuwait{background-position:0 -4256px;}
.f32 .Cayman.Islands{background-position:0 -4288px;}
.f32 .Kazakhastan{background-position:0 -4320px;}
.f32 .Laos{background-position:0 -4352px;}
.f32 .Lebanon{background-position:0 -4384px;}
.f32 .Saint.Lucia{background-position:0 -4416px;}
.f32 .Liechtenstein{background-position:0 -4448px;}
.f32 .Sri.Lanka{background-position:0 -4480px;}
.f32 .Liberia{background-position:0 -4512px;}
.f32 .Lesotho{background-position:0 -4544px;}
.f32 .Lithuania{background-position:0 -4576px;}
.f32 .Luxembourg{background-position:0 -4608px;}
.f32 .Latvia{background-position:0 -4640px;}
.f32 .Libya{background-position:0 -4672px;}
.f32 .Morocco{background-position:0 -4704px;}
.f32 .Moldova{background-position:0 -4736px;}
.f32 .Montenegro{background-position:0 -4768px;}
.f32 .Madagascar{background-position:0 -4800px;}
.f32 .Marshall.Islands{background-position:0 -4832px;}
.f32 .Macedonia{background-position:0 -4864px;}
.f32 .Mali{background-position:0 -4896px;}
.f32 .Myanmar{background-position:0 -4928px;}
.f32 .Mongolia{background-position:0 -4960px;}
.f32 .Macao{background-position:0 -4992px;}
.f32 .Martinique{background-position:0 -5024px;}
.f32 .Mauritania{background-position:0 -5056px;}
.f32 .Montserrat{background-position:0 -5088px;}
.f32 .Malta{background-position:0 -5120px;}
.f32 .Mauritius{background-position:0 -5152px;}
.f32 .Maldives{background-position:0 -5184px;}
.f32 .Malawi{background-position:0 -5216px;}
.f32 .Mexico{background-position:0 -5248px;}
.f32 .Malasya{background-position:0 -5280px;}
.f32 .Mozambique{background-position:0 -5312px;}
.f32 .Namibia{background-position:0 -5344px;}
.f32 .New.Caledonia{background-position:0 -5376px;}
.f32 .Niger{background-position:0 -5408px;}
.f32 .Nigeria{background-position:0 -5440px;}
.f32 .Nicaragua{background-position:0 -5472px;}
.f32 .Netherlands{background-position:0 -5504px;}
.f32 .Norway{background-position:0 -5536px;}  
.f32 .bv, .f32 .nq, .f32 .sj{background-position:0 -5536px;}
.f32 .Nepal{background-position:0 -5568px;}
.f32 .Nauru{background-position:0 -5600px;}
.f32 .New.Zeland{background-position:0 -5632px;}
.f32 .Oman{background-position:0 -5664px;}
.f32 .Panama{background-position:0 -5696px;}
.f32 .Peru{background-position:0 -5728px;}
.f32 .French.Polynesia{background-position:0 -5760px;}
.f32 .papua.New.Guinea{background-position:0 -5792px;}
.f32 .Philippines{background-position:0 -5824px;}
.f32 .Pakistan{background-position:0 -5856px;}
.f32 .Poland{background-position:0 -5888px;}
.f32 .Puerto.Rico{background-position:0 -5920px;}
.f32 .Palestine{background-position:0 -5952px;}
.f32 .Portugal{background-position:0 -5984px;}
.f32 .palau{background-position:0 -6016px;}
.f32 .Paraguay{background-position:0 -6048px;}
.f32 .Qatar{background-position:0 -6080px;}
.f32 .R\00E9union{background-position:0 -6112px;}
.f32 .Romania{background-position:0 -6144px;}
.f32 .Serbia{background-position:0 -6176px;}
.f32 .Russian.Federation{background-position:0 -6208px;}
.f32 .Rwanda{background-position:0 -6240px;}
.f32 .Saudi.Arabia{background-position:0 -6272px;}
.f32 .Solomon.Island{background-position:0 -6304px;}
.f32 .Seychelles{background-position:0 -6336px;}
.f32 .Sudan{background-position:0 -6368px;}
.f32 .Sweden{background-position:0 -6400px;}
.f32 .Singapore{background-position:0 -6432px;}
.f32 .Slovenia{background-position:0 -6464px;}
.f32 .Slovakia{background-position:0 -6496px;}
.f32 .Sierra.Leone{background-position:0 -6528px;}
.f32 .San.Marino{background-position:0 -6560px;}
.f32 .Senegal{background-position:0 -6592px;}
.f32 .Somalia{background-position:0 -6624px;}
.f32 .Suriname{background-position:0 -6656px;}
.f32 .Sao.Tome.and.Principe{background-position:0 -6688px;}
.f32 .El.Salvador{background-position:0 -6720px;}
.f32 .Syrian.Arab.Republic{background-position:0 -6752px;}
.f32 .Swaziland{background-position:0 -6784px;}
.f32 .Turks.and.Caicos.Islands{background-position:0 -6816px;}
.f32 .Chad{background-position:0 -6848px;}
.f32 .Togo{background-position:0 -6880px;}
.f32 .Thailand{background-position:0 -6912px;}
.f32 .Tajikistan{background-position:0 -6944px;}
.f32 .Timorfeff005fLeste{background-position:0 -6976px;}
.f32 .Turkmenistan{background-position:0 -7008px;}
.f32 .Tunisia{background-position:0 -7040px;}
.f32 .Tonga{background-position:0 -7072px;}
.f32 .Turkey{background-position:0 -7104px;}
.f32 .Trinidad.and.Tobago{background-position:0 -7136px;}
.f32 .Tuvalu{background-position:0 -7168px;}
.f32 .Taiwan{background-position:0 -7200px;}
.f32 .Tanzania{background-position:0 -7232px;}
.f32 .Ukraine{background-position:0 -7264px;}
.f32 .Uganda{background-position:0 -7296px;}
.f32 .United.States{background-position:0 -7328px;}
.f32 .Uruguay{background-position:0 -7360px;}
.f32 .Uzbekistan{background-position:0 -7392px;}
.f32 .Holy.See{background-position:0 -7424px;}
.f32 .Saint.Vincent.and.the.Grenadines{background-position:0 -7456px;}
.f32 .Venezuela{background-position:0 -7488px;}
.f32 .Virgin.Islands\002C.British{background-position:0 -7520px;}
.f32 .Virgin.Islands\002C.U\002ES\002E{background-position:0 -7552px;}
.f32 .Vietnam{background-position:0 -7584px;}
.f32 .Vanuatu{background-position:0 -7616px;}
.f32 .Samoa{background-position:0 -7648px;}
.f32 .Yemen{background-position:0 -7680px;}
.f32 .South.Africa{background-position:0 -7712px;}
.f32 .Zambia{background-position:0 -7744px;}
.f32 .Zimbabwe{background-position:0 -7776px;}
.f32 .cw{background-position:0 -7840px;}
.f32 .Niue{background-position:0 -7904px;}

.f32 ._African_Union{background-position:0 -32px;}
.f32 ._Arab_League{background-position:0 -64px;}
.f32 ._ASEAN{background-position:0 -96px;}
.f32 ._CARICOM{background-position:0 -128px;}
.f32 ._CIS{background-position:0 -160px;}
.f32 ._Commonwealth{background-position:0 -192px;}
.f32 ._England{background-position:0 -224px;}
.f32 ._European_Union, .f32 .eu{background-position:0 -256px;}
.f32 ._Islamic_Conference{background-position:0 -288px;}
.f32 ._Kosovo{background-position:0 -320px;}
.f32 ._NATO{background-position:0 -352px;}
.f32 ._Northern_Cyprus{background-position:0 -384px;}
.f32 ._Northern_Ireland{background-position:0 -416px;}
.f32 ._Olimpic_Movement{background-position:0 -448px;}
.f32 ._OPEC{background-position:0 -480px;}
.f32 ._Red_Cross{background-position:0 -512px;}
.f32 ._Scotland{background-position:0 -544px;}
.f32 ._Somaliland{background-position:0 -576px;}
.f32 ._Tibet{background-position:0 -608px;}
.f32 ._United_Nations{background-position:0 -640px;}
.f32 ._Wales{background-position:0 -672px;}