<!--Código referente al Grafo -->
<div class="service-area bg-color-1 pad120">
  <div class="container">
    <div>
      <h1>Análisis de Influencias mediante Grafos</h1>
      <p>A continuación se muestra un grafo.</p>
      <p>Se ve la influencia que tiene un país sobre otro, el tamaño representa su influencia total.</p>
    </div>
    <div>
      <div ng-controller="grafoController">
        <vis-network data="data" options="options" height="100%"></vis-network>
      </div>
    </div>
  </div>
</div>