<!--Código referente a la página principal-->
<!-- slideshow area start -->
<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="photography1" style="background-color:transparent;padding:0px;">
  <div id="rev_slider_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-1" data-transition="slideoververtical">
        <!-- MAIN IMAGE -->
        <img src="assets/images/slideshow/slide-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption Photography-Subline tp-resizeme" id="slide-1-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-157','-157','-157','-80']" data-fontsize="['20','20','20','17']"
        data-lineheight="['30','30','30','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-family: 'Open Sans', sans-serif;">
          ¿SE APROXIMA LA TERCERA GUERRA MUNDIAL?
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-1-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: Playfair Display;">LA TENSIÓN ENTRE PAÍSES AUMENTA
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-1-layer-3" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; color: #bc9355; font-family: Playfair Display;">EE.UU. &amp; COREA
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-2" data-transition="slideoververtical">
        <!-- MAIN IMAGE -->
        <img src="assets/images/slideshow/slide-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption Photography-Subline tp-resizeme" id="slide-2-layer-1" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-157','-157','-157','-80']" data-fontsize="['20','20','20','17']"
        data-lineheight="['30','30','30','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-family: 'Open Sans', sans-serif;">
          ¿QUÉ PIENSA LA POBLACIÓN AL RESPECTO?
        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-2-layer-2" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: Playfair Display;">ANÁLISIS DE INFORMACIÓN
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-2-layer-3" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; color: #bc9355; font-family: Playfair Display;">SIRIA &amp; RUSIA
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-3" data-transition="slideoververtical">
        <!-- MAIN IMAGE -->
        <img src="assets/images/slideshow/slide-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

        <!-- LAYERS -->

        <!-- LAYER NR. 1 -->
        <div class="tp-caption Photography-Subline tp-resizeme" id="slide-3-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-157','-157','-157','-80']" data-fontsize="['20','20','20','17']"
        data-lineheight="['30','30','30','26']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-family: 'Open Sans', sans-serif;">
          LAS REDES SOCIALES REFLEJAN EL PENSAMIENTO DE SUS USUARIOS

        </div>

        <!-- LAYER NR. 2 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-3-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-40','-40','-40','-20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="750" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-family: Playfair Display;">
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption Photography-Display tp-resizeme" id="slide-3-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['40','40','40','20']" data-fontsize="['60','60','60','30']"
        data-lineheight="['60','60','60','40']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
        data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; color: #bc9355; font-family: Playfair Display;">WANT TO LOOK THEIR VERY BEST
        </div>
      </li>
    </ul>
  </div>
</div>
<!--#rev_slider_1_wrapper-->
<!-- slideshow area end -->

<!-- service area start -->
<div class="service-area bg-color-1 pad120">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title text-center">
          <img src="assets/images/title-img/title-img-1.png" class="title-img mb15" alt="">
          <h3 class="title">¿QUÉ <strong>OFRECEMOS</strong>?</h3>
          <p class="sub-title">Gracias al filtrado de información, según palabras claves mecionadas por los usuarios de redes sociales, generamos:</p>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/.container-->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box center-style text-center">
          <div class="service-icon">
            <center>
              <img src="assets/images/others/torta.png" alt="" class="img-responsive">
            </center>
          </div>
          <div class="service-content">
            <h4>Gráficos de torta</h4>
            <p>Reflejan la opinión de las personas en los diferentes países.</p>
            <!-- <a href="#" class="btn btn-primary btn-service">Book Now</a> -->
          </div>
        </div>
        <!--/.service-box-->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6">
        <div class="service-box center-style text-center">
          <div class="service-icon">
            <center>
              <img src="assets/images/others/linea.png" alt="" class="img-responsive">
            </center>
          </div>
          <div class="service-content">
            <h4>Gráficos de línea</h4>
            <p>Reflejan la popularidad de un tópico en específico.</p>
            <!-- <a href="#" class="btn btn-primary btn-service">Book Now</a> -->
          </div>
        </div>
        <!--/.service-box-->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6">
        <div class="service-box center-style text-center">
          <div class="service-icon">
            <center>
              <img src="assets/images/others/grafos.png" alt="" class="img-responsive">
            </center>
          </div>
          <div class="service-content">
            <h4>Grafos de relaciones</h4>
            <p>Reflejan la influencia de los países entre sí.</p>
            <!-- <a href="#" class="btn btn-primary btn-service">Book Now</a> -->
          </div>
        </div>
        <!--/.service-box-->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6">
        <div class="service-box center-style text-center">
          <div class="service-icon">
            <center>
              <img src="assets/images/others/Ranking.png" alt="" class="img-responsive">
            </center>
          </div>
          <div class="service-content">
            <h4>Ránkings</h4>
            <p>Muestran los tópicos más mencionados y los países que más mencionan esos tópicos.</p>
            <!-- <a href="#" class="btn btn-primary btn-service">Book Now</a> -->
          </div>
        </div>
        <!--/.service-box-->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/.container-->
</div>
<!-- service area end -->

<!-- team area start -->
<div class="team-area bg-color-2 pad120">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title text-center">
          <img src="assets/images/title-img/title-img-1.png" class="title-img mb15" alt="">
          <h3 class="title">Representantes de países en <strong>conflicto</strong></h3>
          <p class="sub-title">Los presidentes de algunas naciones, son los principales involucrados en el inicio de un posible conflicto</p>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/.container-->
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="team-box text-center xs-mb30">
          <div class="team-img">
            <img src="assets/images/team/team-dark-1.jpg" alt="" class="img-responsive">
            <div class="overley">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h4>Donald Trump</h4>
            <p>Presidente de los Estados Unidos de América</p>
          </div>
        </div>
        <!--/.team-box-->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-4">
        <div class="team-box text-center xs-mb30">
          <div class="team-img">
            <img src="assets/images/team/team-dark-2.jpg" alt="" class="img-responsive">
            <div class="overley">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h4>Vladimir Putin</h4>
            <p>Presidente de Rusia</p>
          </div>
        </div>
        <!--/.team-box-->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-4">
        <div class="team-box text-center xs-mb30">
          <div class="team-img">
            <img src="assets/images/team/team-dark-3.jpg" alt="" class="img-responsive">
            <div class="overley">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h4>Kim Jong-Un</h4>
            <p>Líder supremo de la República Popular Democrática de Corea (RPDC)</p>
          </div>
        </div>
        <!--/.team-box-->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/.container-->
</div>
<!-- team area end -->



<!-- facility area start -->
<div class="facility-area bg-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-5 hidden-sm hidden-xs">
        <img src="assets/images/others/stylist-1.png" alt="" class="img-responsive">
      </div>
      <!-- /.col -->
      <div class="col-md-7 pad-t90">
        <div class="section-title">
          <h3 class="title">¿Qué cantidad de información <strong>manejamos</strong>?</h3>
          <p class="sub-title ttu"><strong>El recolector de Tweets funciona constantemente</strong></p>
          <p>La recolección de Tweets se realiza a partir de la obtención de posts realizados que contienen en su interior alguna de las palabras claves.</p>
          <p>BC Team obtiene aquellos posts y los clasifica de distintas maneras. El modo administrador permite añadir tópicos a la bolsa de palabras.</p>
        </div>
        <div class="row sm-pad-b">
          <div class="col-md-4 col-sm-4">
            <div class="counter-box" data-count="130000">
              <div class="counter-content">
                <h2 class="counter"></h2>
                <h4>Tweets colectados diariamente</h4>
              </div>
            </div>
            <!--/.counter-box-->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-4">
            <div class="counter-box" data-count="34">
              <div class="counter-content">
                <h2 class="counter"></h2>
                <h4>Tópicos en la bolsa de palabras</h4>
              </div>
            </div>
            <!--/.counter-box-->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-4">
            <div class="counter-box" data-count="143">
              <div class="counter-content">
                <h2 class="counter"></h2>
                <h4>Países que interactúan diariamente</h4>
              </div>
            </div>
            <!--/.counter-box-->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/.container-->
</div>
<!-- facility area end -->


<!-- footer start -->
<div class="footer bg-color-2 pad80 text-center">
  <div class="container">
    <div class="row mb30">
      <div class="col-md-12">
        <div class="footer-logo">
          <img src="assets/images/others/footer-logo.png" alt="" class="img-center img-responsive">
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- footer end -->

<!-- back to to btn start -->
<div id="back-to-top"><i class="fa fa-angle-up"></i></div>
<!-- back to to btn end -->