<style>
svg {
    width: 100%
}

path {
    fill: none;
    stroke: black
}

.background {
  fill: rgba(200,212,220,.5);
  stroke-width: .8px;
  stroke: black;
}

.graticule {
    stroke: rgba(0,0,0, .2);
    stroke-width: .5px;
}

.country {
    cursor: pointer;
}

.country .land, .state .land {
    fill: white;
    stroke: rgba(0,0,0, .2);
    stroke-width .3px;
}

.state .overlay {
    fill: red;
    fill-opacity: 0;
}

.country .overlay {
    fill: red;
    fill-opacity: 0;
}


</style>

<div class="service-area bg-color-1 pad120">
  <div class="container">
    <div>
      <h1>Mapa Coroplético</h1>
      <p>El mapa refleja las menciones realizadas en cada país. A medida que el color del país se vuelve rojo, mayor cantidad de menciones se han realizado allí.</p>
      <br>
    </div>
    <div>
       <globe data="data"></globe>
    </div>
  </div>
</div>
